// Import page-specific CSS files here.
@import "home";
$color-primary: #83C5BE;
$color-secondary: #006D77;
$color-tertiary: #FFDDD2;
$color-quaternary: #E29578;

.background {
  position: relative;
  margin-bottom: 20px;
}

// 建立遮罩
.background::before {
  content: ''; /* 必須有 content 才能顯示偽元素 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* 半透明黑色遮罩，可以根據需要調整顏色和透明度 */
  z-index: 1; /* 讓遮罩層顯示在圖片之上 */
}

.title{
  color: white;
  font-size: 50px;
  position: absolute;
  transform: translate(-50%, -50%); /* 使用 transform 居中 */
  top: 50%;
  left: 50%;
  z-index: 5;
}

.card-img-top{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.single-container {
  display: flex;
  flex-direction: column;
}

.add-movie-btn{
  align-self: flex-end;
  margin-bottom: 20px;
  background-color: $color-secondary;
  border-radius: 12px;
  height: 50px;
  border: none;
  padding: 0 20px;
  text-align: center;
  font-size: 16px; /* 文字大小 */
  font-weight: bold; /* 字體加粗 */
  line-height: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  &:hover {
    background-color: darken($color-secondary, 10%); /* 滑鼠移上時，按鈕背景變暗 */
    transform: translateY(-2px); /* 添加輕微的移動效果 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* 增加陰影深度 */
  }
  &:active {
    transform: translateY(0); /* 點擊時回到原位 */
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1); /* 按下時陰影縮小 */
  }

}

// list-background image

.list-background {
  position: relative;
}

.card-position{
  position: relative;
}


.list-background::before {
  content: ''; /* 必須有 content 才能顯示偽元素 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* 半透明黑色遮罩，可以根據需要調整顏色和透明度 */
  z-index: 1; /* 讓遮罩層顯示在圖片之上 */
}

.list-title{
  color: white;
  font-size: 30px;
  position: absolute;
  transform: translate(-50%, -50%); /* 使用 transform 居中 */
  top: 50%;
  left: 50%;
  z-index: 5;
}
