<div class="col-md-4 col-sm-6 mb-3">
  <div class="card" style="width: 100%;">
  <%= image_tag movie.poster_url, class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= movie.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= movie.overview %></h6>
  </div>
  </div>
</div>
