// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

$color-primary: #83C5BE;
$color-secondary: #006D77;
$color-tertiary: #FFDDD2;
$color-quaternary: #E29578;

.fa-video {
  color: $color-primary;
  margin-left: 15px;
  font-size: 30px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 外部容器 .wrapper 設置為 Flex 容器 */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* 確保占滿視窗高度 */
}

/* 主內容區域彈性填滿剩餘空間 */
.content {
  flex: 1; /* 彈性填滿 */
}

/* Footer 樣式 */
.footer {
  background-color: $color-secondary;
  color: white;
  text-align: center;
  padding: 5px;
}
